*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,83,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(206, 209, 156);
    font-size: 5vw;
    margin: 20px 0;
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgba(61, 53, 29, 0.884);
}

h2 {
    font-size: 2vw;
    margin-top: 20px;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.display {
    background: #f1f1f1;
    border-radius: 8px;
    display: flex;
    margin: 50px auto;
    max-width: 900px;
    min-width: 500px;
    width: 70%;
}

.block {
    align-items: center;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 50%;
}

.block p:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.block:nth-child(1) {
    border-right: 1px solid rgba(222, 184, 135, 0.5);
}

.container-btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    min-width: 500px;
    width: 70%;
}

.btn {
    display: block;
    font-size: 25px;
    padding: 18px;
    width: 200px;
}